.evnts {
  color: #2a0054;
  font-weight: 700;
  font-size: 50px;
}
.swipe {
  color: #ff0596;
  font-weight: 650;
  font-size: 25px;
  padding-top: 5px;
}
.dating {
  font-weight: 650;
  padding-top: 10px;
}
.strature {
  text-align: center;
  color: #2a0054;
  font-weight: 650;
  padding-top: 10px;
}
.video {
  color: #ff0596;
  font-weight: 700;
  padding-top: 15px;
  font-size: 20px;
}
.icon-image {
  font-size: 35px;
}
.catog {
  color: #2a0054;
  font-weight: 700;
}
.chose {
  font-weight: 500;
  padding-top: 7px;
}
.suggest {
  font-weight: 700;
  color: #2a0054;
  font-size: 64px;
}

* {
  font-family: "Heebo", sans-serif;
}
